<html>
<head>  
    <title> {{ .title }} </title> 
    <style>
		.menu {
		float:left;
		width:19%;
		height:100%;
        }
    	.mainContent {
      	float:left;
      	width:80%;
      	height:100%;
        }
    </style>
</head>
<body>
  <div class="menu">
    <ul> <h2> Computer </h2>
	    <li><a href="/pcworld"  target="target">PC World        </a></li>
	    <li><a href="/pcmag"    target="target">PC Magazine     </a></li>
	    <li><a href="/pcq"      target="target">PC Quest        </a></li>
	    <li><a href="/cnet"     target="target">CNET            </a></li>
	    <li><a href="/cweekly"  target="target">Computer Weekly </a></li>
	    <li><a href="/nworld"   target="target">Network World   </a></li>
	    <li><a href="/techr"    target="target">Tech Republic   </a></li>
	    <li><a href="/cio"      target="target">CIO             </a></li>
    </ul>
	<ul> <h2> News </h2>
	    <li><a href="/bbc"      target="target">    BBC         </a></li>
    	<li><a href="/cnn"      target="target">    CNN         </a></li>
	    <li><a href="/nytimes"  target="target">    NY Times    </a></li>
	    <li><a href="/yahoo"    target="target">    Yahoo News  </a></li>
	    <li><a href="/toi"      target="target"> Times of India </a></li>
    </ul>
    <ul> <h2> Business </h2>
	    <li><a href="/ft"       target="target">Financial Times </a></li>
	    <li><a href="/wsj"      target="target">WallStreet Journal</a></li>
	    <li><a href="/et"       target="target">Economic Times</a></li>
    </ul>
    <ul> <h2> Sports </h2>
    	<li><a href="/cricinfo" target="target"> CricInfo       </a></li>
    </ul>
  </div>
  <div class="main-content">
    <iframe name="target" width="79%" height="100%" frameborder="0">
  </div>

</body>
</html>
